<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
<servers>
  <server>
      <id>ful</id>
      <username>{{ maven_username }}</username>
      <password>{{ maven_password }}</password>
  </server>
</servers>
<mirrors>
  <mirror>
    <!--This sends everything else to /public -->
    <id>nexus</id>
    <mirrorOf>*,!ful,!ful_snapshot</mirrorOf>
    <url>http://nexus.nbnco.net.au/content/groups/public/</url>
  </mirror>
</mirrors>
<profiles>
<profile>
  <id>ful</id>
      <repositories>
        <repository>
          <id>ful</id>
          <name>Repository for HFC Fulfilment Release</name>
          <url>https://nexus.nbnco.net.au/content/repositories/ful</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>ful_snapshot</id>
          <name>Repository for HFC Fulfilment Snapshots</name>
          <url>https://nexus.nbnco.net.au/content/repositories/ful_snapshot</url>
          <layout>default</layout>
        </repository>
      </repositories>
       <pluginRepositories>
        <pluginRepository>
         <id>ful</id>
         <name>Repository for HFC Fulfilment Release</name>
         <url>https://nexus.nbnco.net.au/content/repositories/ful</url>
         <layout>default</layout>
       </pluginRepository>
     </pluginRepositories>
  </profile>
</profiles>
<activeProfiles>
    <activeProfile>ful</activeProfile>
  </activeProfiles>
</settings>
